.searchBox {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  text-align: left;
}

.label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.input {
  max-width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #ffffff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  outline: none !important;
  border-color: #42a5f5 !important;
  box-shadow: 0 0 6px rgba(66, 165, 245, 0.5);
}
