.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 350px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.icon {
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
}

.name,
.number {
  font-size: 1rem;
  margin: 4px 0;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.deleteBtn {
  background-color: #e91313;
  border: 1px solid #ccc;
  color: white;

  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteBtn:hover {
  background-color: #ce0505;
}
